[submodule "kl"]
	path = kl
        url = git@git.coding.net:rsgah/kl.git
        ignore = dirty
[submodule "snappy"]
	path = snappy
	url = git://github.com/google/snappy.git
        ignore = dirty
[submodule "libpcap"]
	path = libpcap
	url = git://github.com/the-tcpdump-group/libpcap.git
        ignore = dirty
[submodule "libnet"]
	path = libnet
	url = git://github.com/sam-github/libnet.git
        ignore = dirty
