[submodule "kl"]
	path = kl
        url = git://github.com/bzEq/kl.git
        ignore = dirty
[submodule "snappy"]
	path = snappy
	url = git://github.com/google/snappy.git
        ignore = dirty
[submodule "libpcap"]
	path = libpcap
	url = git://github.com/the-tcpdump-group/libpcap.git
        ignore = dirty
[submodule "lz4"]
	path = lz4
	url = git://github.com/lz4/lz4.git
[submodule "zstd"]
	path = zstd
	url = git://github.com/facebook/zstd.git
