[submodule "kl"]
	path = kl
	url = git://github.com/bzEq/kl.git
[submodule "snappy"]
	path = snappy
	url = git://github.com/google/snappy.git
[submodule "libpcap"]
	path = libpcap
	url = git://github.com/the-tcpdump-group/libpcap.git
